node_modules
dist
coverage
*.log
.DS_Store
extension.zip
.worktrees
src/exo-tabs/richlink/handlers/**/examples/*.html
src/exo-tabs/spinnaker/examples/*.html

# Playwright
/test-results/
/playwright-report/
